/* Base grid layout for mobile (default) */
.grid-container {
  grid-template-rows: 10% 10% auto;
  grid-template-columns: 15% 70% 15%;
}

/* Large screens (laptops, desktops) */
@media (min-width: 1024px) {
  .grid-container {
    grid-template-rows: 10% 15% auto;
    grid-template-columns: 17% 42% 7.6% auto; /* 4rd col should start at 2/3 width to match sections header with other pages */
  }
}

/* Apply an animated underline on hover */
.header-entry:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.header-entry:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
