#first {
    margin-left: 0; /* Remove left margin that is added by the anchor selector */
}

#last {
    margin-right: 0; /* Remove right margin that is added by the anchor selector */
}

.header-link {
    color: black;
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    margin-right: 0.5em;
    margin-left: 0.5em;
    display: inline-block;
    position: relative;
}

/* Apply an animate underline on hover */
.header-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.header-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
