.sections-header {
    grid-row: 2;
    grid-column: 3;
    justify-self: center;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    margin-right: 0.5em;
    margin-left: 0.5em;
}

#first {
    margin-left: 0; /* Remove left margin that is added by the anchor selector */
}

#last {
    margin-right: 0; /* Remove right margin that is added by the anchor selector */
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
