.app {
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 25% auto;
    grid-template-columns: 33.3% 33.3% 33.4%;
}

main {
    grid-row: 3; /* Start at the top of the third row (35% down) */
    grid-column: 2;
    text-align: center;
}

h1 {
    margin: 0;
}
