body {
    height: 100%;
    margin: 0;
    font-family: Times, serif;
}

.app {
    display: grid;
    height: 100vh;
    grid-template-rows: 35% auto; /* 35% space on top, then auto for everything else */
}

main {
    grid-row: 2; /* Start at the top of the second row (35% down) */
    justify-self: center; /* Centers horizontally */
    text-align: center;
}

h1 {
    margin: 0;
}
