.socials {
    margin-bottom: 0.7em;
}
  
#socials-list > a > i {
    font-size: 1.3em;
}
  
.font-awesome {
    color: rgb(150, 150, 150);
    margin-left: .35em;
    margin-right: .35em;
}
  
.fa-envelope:hover {
    color: #0F9D58;
}
  
.fa-github:hover {
    color: #000000;
}
  
.fa-linkedin:hover {
    color: #0A66C2;
}
  
.fa-strava:hover {
    color: #FC4C02;
}